@media (min-width: ≥576px) {
    .col-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

#i2f11u {
    height: auto;
}

#i5wksj {
    background-color: rgb(246, 246, 246);
    padding-top: 60px px;
    padding-right: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
}

#i9msbl {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
}

#iax04y {
    width: 27%;
    display: flex;
}

#i3piet {
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: black;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-left-width: 0px;
    border-left-style: solid;
    border-left-color: black;
    background-color: rgba(98, 98, 98, 0);
    max-width: 100%;
    padding-top: 0px;
    padding-right: 12%;
    padding-bottom: 0px;
    padding-left: 12%;
}

#icxi9 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: rgba(98, 98, 98, 0);
    display: flex;
}

#ix5gk {
    width: 60%;
    display: flex;
}

#igu74y {
    width: 33.33%;
    margin-top: 0px;
    margin-right: 1%;
    margin-bottom: 0px;
    margin-left: 1%;
}

#ipi6il {
    width: 33.33%;
    margin-top: 0px;
    margin-right: 1%;
    margin-bottom: 0px;
    margin-left: 1%;
}

#i6quck {
    width: 33.33%;
    margin-top: 0px;
    margin-right: 1%;
    margin-bottom: 0px;
    margin-left: 1%;
}

#i0vrw {
    width: 40%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 4%;
    color: rgb(0, 0, 0);
    font-size: 12px;
}

#ioewv9 {
    display: none;
}

#i8sj19 {
    display: flex;
}

#igdlem {
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 100%;
}

#i6btml {
    font-size: 13px;
    font-family: Nimbus-Sans-D-OT-Regular-Extended;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

#ipdfhj {
    display: none;
}

#form-newsletter-2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 100%;
}

.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}